#canvas {
  border: 2px solid black;
  margin-top: 100px;
  margin-left: 300px;
}

.startbtn {
  color: red;
}

body{
    background-image: url(./images/imagenfondohtml.webp);
    background-size: cover;
    height: 800px;
}

.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    
   
}