#canvas {
  border: 2px solid black;
  border-radius: 5px;
}
.colocaCanvas {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.inputName {
  display: flex;
  width: 300px;
  color: white;
  justify-content: center;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgb(48, 160, 125);
  border: 1px solid white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.enterName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.startbtn {
  color: white;
  background-color: rgb(48, 160, 125);
  border: 1px solid white;
  padding-left: 100px;
  padding-top: 15px;
  padding-right: 100px;
  padding-bottom: 15px;
  border-radius: 5px;
}

body {
  background-image: url(./images/imagenfondohtml.webp);
  background-size: cover;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-align: center;
  text-shadow: 2px 5px 2px grey;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(48, 160, 125);
  color: white;
  font-size: 15px;
  text-align: center;
  border: 1px solid white;
  margin-left: 600px;
  margin-right: 600px;
  margin-top: 0%;
  margin-bottom: 0.5%;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
}
